/* google fonts  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/* root  */
:root {
	--primary-color: #003893;
	--primary-dark: #003893ab;
	--secondary-color: #fd0505;
	--white: #efefef;
	--gray: #b1aeae;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "Roboto", sans-serif;
}
html {
	min-height: 100%;
	font-size: 16px;
	font-weight: normal;
}
main {
	width: 100%;
	height: 100vh;
	background: url(./assets/bg.jpg) no-repeat center left;
	background-size: cover;
	opacity: 0.95;
}

main .container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #131313c8;
	color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
main .container .show_text {
	text-align: center;
}
main .container .show_text p {
	text-transform: uppercase;
	font-weight: 300;
	font-weight: 0.9rem;
	letter-spacing: 1px;
	color: var(--gray);
}
main .container .show_text h1 {
	font-size: 5rem;
	margin: 10px 0 45px;
	color: var(--white);
	text-shadow: 2px 2px 5px rgba(12, 12, 12, 0.6);
	letter-spacing: 6px;
}
main .container .showtime {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	text-align: center;
}

main .container .showtime .flex {
	background: var(--primary-color);
	padding: 10px;
	min-width: 90px;
	border: 1px solid var(--primary-color);
	outline: none;
	border-radius: 2px;
}
main .container .showtime .flex .font-big {
	font-weight: 500;
	font-size: 1.8rem;
}
main .container .showtime .flex .font-small {
	font-weight: 100;
	font-size: 0.8rem;
	margin-top: 8px;
}

/* === Loading CSS === */
.loading {
	width: 100%;
	height: 100vh;
	background: black;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
