/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

/* root  */
:root {
	--primary-color: #003893;
	--primary-dark: #003893ab;
	--secondary-color: #fd0505;
	--white: #efefef;
	--gray: #b1aeae;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "Roboto", sans-serif;
}

html {
	min-height: 100%;
	font-size: 16px;
	font-weight: normal;
	/* background: var(--gray); */
	background: black;
}
main {
	width: 100%;
	height: 100vh;
	background: url(./assets/bg.jpg) no-repeat center left;
	background-size: cover;
	z-index: -1;
	position: relative;
}

main .container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #131313f2;
	color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
main .container .show_text {
	text-align: center;
}
main .container .show_text p {
	text-transform: uppercase;
	font-weight: 300;
	font-weight: 0.9rem;
	letter-spacing: 1px;
	color: var(--white);
}
main .container .show_text h1 {
	font-size: 5rem;
	margin: 10px 0 45px;
	color: var(--primary-color);
	/* text-shadow: 2px 2px 5px rgba(12, 12, 12, 0.6); */
	letter-spacing: 6px;
	text-shadow: 2px 2px 4px #ccc;
}
main .container .showtime {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
	text-align: center;
}

main .container .showtime .flex {
	/* background: var(--primary-color); */
	padding: 10px;
	min-width: 90px;
	/* border: 1px solid var(--primary-color); */
	outline: none;
	border-radius: 2px;
}
main .container .showtime .flex .font-big {
	font-weight: 500;
	font-size: 2.6rem;
	text-shadow: 2px 2px 4px #ccc;
}
main .container .showtime .flex .font-small {
	font-weight: 100;
	font-size: 0.8rem;
	margin-top: 8px;
	color: var(--gray);
}

/* === Loading CSS === */
.loading {
	width: 100%;
	height: 100vh;
	background: black;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* === New Year  */
.newYear {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	text-shadow: 2px 2px 4px #ccc;
}
